<div class="container">

  <!-- Main component for a primary marketing message or call to action -->
  <div class="jumbotron">
    <h1>NCPSC</h1>
    <div class="row">
      <div class="col-md-8">
          <p>
              We are one of the leading companies in Oman that providing the market with comprehensive
              fire safety, design engineering & Gas pipe line networks, design and connections. Our core business is foxing on fire
          alarm, firefighting systems & LPG gas networks/connections. </p>
          <p>
            <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">View More&raquo;</a>
          </p>
      </div>
      <div class="col-md-4">
        <img class="img-intro" src="../../assets/images/2.jpg" alt="">
      </div>
    </div>

  </div>

</div>
<!-- /container -->

